.button {
  background: lightblue;
  box-shadow: 1px 1px 1px;
  border: 1px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

.button:hover {
  background: rgb(127, 186, 206);
  box-shadow: 0px 0px 1px grey;
  border: 1px solid;
  text-shadow: 0px 0px 0px transparent;
}

.button:active {
  outline: none;
  border: none;
}

.button:focus {
  outline: 1;
}